---
layout: default
---

<div class="tag">
  {% assign tag = page.tag-name %}

  <h2 class="post-list-heading">Tag: {{ tag }}</h2>

  {% assign posts = site.tags[tag] %}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>